<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @catalog.user_id %>
</p>

<p>
  <strong>Entry:</strong>
  <%= @catalog.entry_id %>
</p>

<p>
  <strong>System:</strong>
  <%= @catalog.system_id %>
</p>

<p>
  <strong>System esi:</strong>
  <%= @catalog.system_esi %>
</p>

<p>
  <strong>Planet:</strong>
  <%= @catalog.planet_id %>
</p>

<p>
  <strong>Planet esi:</strong>
  <%= @catalog.planet_esi %>
</p>

<p>
  <strong>Moon:</strong>
  <%= @catalog.moon_id %>
</p>

<p>
  <strong>Moon esi:</strong>
  <%= @catalog.moon_esi %>
</p>

<p>
  <strong>Product:</strong>
  <%= @catalog.product_id %>
</p>

<p>
  <strong>Product:</strong>
  <%= @catalog.product %>
</p>

<p>
  <strong>Percent:</strong>
  <%= @catalog.percent %>
</p>

<p>
  <strong>Status:</strong>
  <%= @catalog.status %>
</p>

<p>
  <strong>Verified:</strong>
  <%= @catalog.verified %>
</p>

<p>
  <strong>Flag:</strong>
  <%= @catalog.flag %>
</p>

<%= link_to 'Edit', edit_catalog_path(@catalog) %> |
<%= link_to 'Back', catalogs_path %>
