<h1>Entrie Index</h1>
<%= will_paginate @entries, class: "float-left" %>

<table>
  <thead>
    <tr>
      <th>ID|</th>
      <th>User|</th>
      <th>Format_check|</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @entries.each do |entry| %>
      <tr>
        <td><%= entry.id %></td>
        <td><%= entry.user %></td>
        <td><%= entry.format_check %></td>
        <td><%= link_to 'Show', entry %></td>
        <td><%= link_to 'Edit', edit_entry_path(entry) %></td>
        <td><%= link_to 'Destroy', entry, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>