Region List
<div class='row'>
	<div class="well col-md-2">
		<%= link_to "Aridia", {:controller => "toolbox", :action => "systems", :region => 10000054 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Black Rise", {:controller => "toolbox", :action => "systems", :region => 10000069 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "The Bleak Lands", {:controller => "toolbox", :action => "systems", :region => 10000038 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Branch", {:controller => "toolbox", :action => "systems", :region => 10000055 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Cache", {:controller => "toolbox", :action => "systems", :region => 10000007 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Catch", {:controller => "toolbox", :action => "systems", :region => 10000014 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "The Citadel", {:controller => "toolbox", :action => "systems", :region => 10000033 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Cloud Ring (content ring)", {:controller => "toolbox", :action => "systems", :region => 10000051 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Cobalt Edge", {:controller => "toolbox", :action => "systems", :region => 10000053 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Curse", {:controller => "toolbox", :action => "systems", :region => 10000012 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Deklien", {:controller => "toolbox", :action => "systems", :region => 10000035 }, class: "", id: "" %>
	</div>
		<div class="well col-md-2">
		<%= link_to "Delve", {:controller => "toolbox", :action => "systems", :region => 10000060 }, class: "", id: "" %>
	</div>
		<div class="well col-md-2">
		<%= link_to "Domain", {:controller => "toolbox", :action => "systems", :region => 10000043 }, class: "", id: "" %>
	</div>
		<div class="well col-md-2">
		<%= link_to "Derilik", {:controller => "toolbox", :action => "systems", :region => 10000001 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Detroid", {:controller => "toolbox", :action => "systems", :region => 10000005 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Devoid", {:controller => "toolbox", :action => "systems", :region => 10000036 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Esoteria", {:controller => "toolbox", :action => "systems", :region => 10000039 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Essence", {:controller => "toolbox", :action => "systems", :region => 10000064 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Etherium Reach", {:controller => "toolbox", :action => "systems", :region => 10000027 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Everyshore", {:controller => "toolbox", :action => "systems", :region => 10000037 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Fade", {:controller => "toolbox", :action => "systems", :region => 10000046 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Feythabolis", {:controller => "toolbox", :action => "systems", :region => 10000056 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "The Forge", {:controller => "toolbox", :action => "systems", :region => 10000002 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Fountian", {:controller => "toolbox", :action => "systems", :region => 10000058 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Geminate", {:controller => "toolbox", :action => "systems", :region => 10000029 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Genesis", {:controller => "toolbox", :action => "systems", :region => 10000067 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Great Wildlands", {:controller => "toolbox", :action => "systems", :region => 10000011 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Heimatar", {:controller => "toolbox", :action => "systems", :region => 10000030 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Immensea", {:controller => "toolbox", :action => "systems", :region => 10000025 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Impass", {:controller => "toolbox", :action => "systems", :region => 10000031 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Insmother", {:controller => "toolbox", :action => "systems", :region => 10000009 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Kador", {:controller => "toolbox", :action => "systems", :region => 10000052 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "The Kalavala Expanse", {:controller => "toolbox", :action => "systems", :region => 10000034 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Khanid", {:controller => "toolbox", :action => "systems", :region => 10000049 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Kor-Azor", {:controller => "toolbox", :action => "systems", :region => 10000065 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Lonetrek", {:controller => "toolbox", :action => "systems", :region => 10000016 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Malpais", {:controller => "toolbox", :action => "systems", :region => 10000013 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Metropolis", {:controller => "toolbox", :action => "systems", :region => 10000042 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Molden Heath", {:controller => "toolbox", :action => "systems", :region => 10000028 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Oasa", {:controller => "toolbox", :action => "systems", :region => 10000040 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Peroid Basis", {:controller => "toolbox", :action => "systems", :region => 10000063 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Perrigren Falls", {:controller => "toolbox", :action => "systems", :region => 10000066 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Placid", {:controller => "toolbox", :action => "systems", :region => 10000048 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Providence", {:controller => "toolbox", :action => "systems", :region => 10000047 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Pure Blind", {:controller => "toolbox", :action => "systems", :region => 10000023 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Querious", {:controller => "toolbox", :action => "systems", :region => 10000050 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Scalding Pass", {:controller => "toolbox", :action => "systems", :region => 10000008 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Sinq Laison", {:controller => "toolbox", :action => "systems", :region => 10000032 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Solitude", {:controller => "toolbox", :action => "systems", :region => 10000044 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "The Spire", {:controller => "toolbox", :action => "systems", :region => 10000018 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Stain", {:controller => "toolbox", :action => "systems", :region => 10000022 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Syndicate", {:controller => "toolbox", :action => "systems", :region => 10000041 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Tash-Murkon", {:controller => "toolbox", :action => "systems", :region => 10000020 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Tenal", {:controller => "toolbox", :action => "systems", :region => 10000045 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Tenerifis", {:controller => "toolbox", :action => "systems", :region => 10000061 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Tribute", {:controller => "toolbox", :action => "systems", :region => 10000010 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Vale of the Silent", {:controller => "toolbox", :action => "systems", :region => 10000003 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Venal", {:controller => "toolbox", :action => "systems", :region => 10000015 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Verge Vendor", {:controller => "toolbox", :action => "systems", :region => 10000068 }, class: "", id: "" %>
	</div>
	<div class="well col-md-2">
		<%= link_to "Wicked Creek", {:controller => "toolbox", :action => "systems", :region => 10000006 }, class: "", id: "" %>
	</div>
</div>